.root {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-5));
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-radius: var(--mantine-radius-sm);
  

  &[data-accept] {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-blue-6);
  }

  &[data-reject] {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-red-6);
  }
}